<div class="container">
  <div class="wrapper">
    <div class="card-switch">
      <label class="switch">
        <input type="checkbox" class="toggle">
        <span class="slider"></span>
        <span class="card-side"></span>
        <div class="flip-card__inner">
          <div class="flip-card__front">
            <div class="title">Sign Up</div>
            <form class="flip-card__form" action="">
              <input class="flip-card__input" name="firstName" placeholder="First name" type="text">
              <input class="flip-card__input" name="lastName" placeholder="Last name" type="text">
              <input class="flip-card__input" name="email" placeholder="Email" type="email">
              <input class="flip-card__input" name="password" placeholder="Password" type="password">
              <button class="flip-card__btn">Let`s go!</button>
            </form>
          </div>
          <div class="flip-card__back">
            <div class="title">Sign Up</div>
            <form class="flip-card__form" action="">
              <input class="flip-card__input" name="firstName" placeholder="First name" type="text">
              <input class="flip-card__input" name="lastName" placeholder="Last name" type="text">
              <input class="flip-card__input" name="sns" placeholder="Healthcare number" type="number">
              <input class="flip-card__input" name="email" placeholder="Email" type="email">
              <input class="flip-card__input" name="password" placeholder="Password" type="password">
              <button class="flip-card__btn">Confirm!</button>
            </form>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
